<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == choice}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <div th:fragment="results" th:if="${jobs} and ${jobs.size()}">
        <h1 th:text="${#strings.capitalizeWords(heading)}"></h1>
        <strong><h2 th:text="${jobs.size()} + ' result(s)'"></h2></strong>

        <div th:each="job, idx : ${jobs}">
            <h3 th:text="'Position #' + ${idx.count} + ':'"></h3>
            <table class="job-listing">
                <tr th:each="row : ${job}">
                    <strong><td th:text="${#strings.capitalizeWords(row.key)}"></td></strong>
                    <td th:if="${row.key != 'name'}">
                        <a th:href="@{/list/jobs(column=${row.key},value=${row.value})}" th:text="${row.value}"></a>
                    </td>
                    <td th:unless="${row.key != 'name'}" th:text="${row.value}"></td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>